/****GENERAL STYLING****/

/*AFFECTS ENTIRE DOCUMENT*/
html {
    scroll-behavior: smooth;
}

/*BODY*/
body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw;
    font-family: 'Courier New', courier, monospace;
    font-size: 1.5vw;
    overflow-x: hidden;
    user-select: none;
}

/*FADE EFFECT ONLOAD*/
body.fade-out {
    opacity: .1;
}

/*HEADING 1 ELEMENTS*/
h1 {
    font-family: 'Tektur', Impact;
    font-size: 5em;
    margin-left: 20%;
}  

/*HEADING 2 ELEMENTS*/
h2 {
    font-family: 'Tektur', Impact;
    font-size: 3em;
    margin-left: 20%;
}

/*HEADING 3 ELEMENTS*/
h3 {
    font-family: 'Courier New', courier, monospace;
    font-size: 2em;
    margin-left: 20%;
}

/*HEADING 4 ELEMENT*/
h4 {
    font-family: 'Tektur', Impact;
    font-size: 2em;
    color: white;
}

h5 {
    font-family: 'Tektur', Impact;
    color: #00ff2a;
}

h6 {
    color: #9900ff;
    font-size: 1em;
}

/*HEADING 1 2 AND 3 ELEMENT HOVER EFFECT*/
h1:hover, h2:hover, h3:hover {
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

/*PARAGRAPH ELEMENTS*/
p {
    color: white;
    font-family: 'Courier New', courier, monospace;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

/*CENTER CLASS*/
.center {
    text-align: center;
}

/*RIGHT CLASS*/
.right {
    text-align: right;
}

/*CENTER CLASS HOVER EFFECT*/
.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/*HEADSHOT*/
#pic {
    display: block;
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 20%;
    --a: 8deg; /* angle of rotation*/
    aspect-ratio: 1;
    border-radius: 20px;
    transform: perspective(400px) rotate3d(var(--r,1,-1),0,calc(var(--i,1)*var(--a)));
    mask: 
    linear-gradient(135deg,#000c 40%,#000,#000c 60%)
    100% 100%/250% 250%;
    transition: .4s;
    cursor: pointer;
}

.alt {
    --r: 1,1;
    mask: 
    linear-gradient(45deg,#000c 40%,#000,#000c 60%)
    0 100%/250% 250%;
  }
  
  #pic:hover {
    --i: -1;
    mask-position: 0 0;
  }

  .alt:hover {
    mask-position: 100% 0;
  }
  
/*IMAGE ELEMENTS*/
.image_main {
    display: block;
    width: 50%;
    height: auto;
    padding-top: 5%;
    margin: auto;
}

/*IMAGE ELEMENT HOVER EFFECTS*/
.image_main:hover {
    filter: drop-shadow(5px 10px 5px #00ff2a);
    transition: transform 1s;
    transform: scale(1.1);
}

/*ICON HOVER EFFECT*/
.icon:hover {
    filter: drop-shadow(3px 3px #00ff2a);
}

/*STYLING FOR FOOTER ELEMENT*/
footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
    font-size: 1em;
}

/*FOOTER TEXT HOVER*/
.foot:hover {
    font-weight: bold;
    color: #00ff2a;
}

/****END OF GENERAL STYLING****/

/****NAVBAR STYLING****/
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5x;
    animation: moveNav 5s;
}

/*MOVENAV ANIMATION EFFECT*/
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

/*NAVBAR LINKS*/
.navbar a {
    float: left;
    display: block;
    color: #6318d6;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: 'Courier New', courier, monospace;
    font-size: 2vw;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}

/*MOVE NAV TEXT ANIMATION EFFECT FOR MOVING THE NAVBAR TEXT FROM ABOVE THE VIEW TO THE NAVBAR*/
@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/*NAVBAR HOVER EFFECTS*/
.navbar a:hover {
    color: #00ff2a;
    font-weight: bold;
    cursor: pointer;
}

/*NAVBAR HOME BUTTON*/
.navbar a.active {
    background-color: black;
    border: 1px solid #00ff2a
}

/*NAVBAR HOME BUTTON HOVER EFFECT*/
.navbar a.active:hover {
    background-color: black;
    border: 1px solid #6318d6;
    color: #00ff2a;
    font-weight: bold;
}

/****END OF NAVBAR STYLING****/

/****BACKGROUND VIDEO STYLING****/
/*FORMATTING FOR BACKGROUND VIDEO*/
#glitch_video {
    position: fixed; 
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

/*SCREENS THAT ARE 576PX AND SMALLER WILL NOT DISPLAY THE BACKGROUND VIDEO*/
@media screen and (max-width: 576px) {
    #glitch_video {
        display: none;
    }
}

/* TEXT OVER THE VIDEO ONLOAD*/
.Video_Text {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100vh;
    padding: 2vh;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/*THIS ANIMATION EFFECT CAUSES THE OVERLAY VIDEO TEXT TO MOVE UP FROM THE BOTTOM OF THE PAGE UPON PAGE LOAD*/
@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}
/* Glowing Button Styling */
.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding-top: 5%;
    padding-bottom: 7%;
    background-color: rgba(0, 0, 0, 0.5);
}

.button-column {
    position: relative;
    text-align: center;
}

.label-container {
    display: none;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.glow {
    width: 100%;
    padding: 12px 12px;
    color: #7303f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s all ease-in;
    letter-spacing: 4px;
    overflow: hidden;
    border: 2px solid #7303f4;
    position: relative;
}

.glow:hover {
    background: #00ff2a;
    color: #050801;
    box-shadow: 0 0 5px #00ff2a,
                0 0 25px #00ff2a,
                0 0 50px #00ff2a,
                0 0 200px #00ff2a;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

/****TABLE STYLING****/
* {
    box-sizing: border-box;
}

.container {
    display: flex; /* Use flexbox to create a row layout */
    flex-wrap: wrap; /* Allow columns to wrap to a new row if necessary */
}

.column_1, .column_2 {
    width: 50%;
    padding: 0 2% 5% 2%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*SCREENS 576 AND SMALLER WILL DISPLAY A SCROLL BAR IF THE TEXT OVERFLOWS THE COLUMN HEIGHT*/
@media screen and (max-width: 576px) {
    .column_1 {
        overflow: auto;
    }
}

/*THIS INSERTS SOMETHING AFTER THE CONTENT OF SELECTED ELEMENTS (IN THIS CASE THE ELEMENTS WITH THE CLASS "ROW")*/
.container:after {
    content: "";
    display: table;
    clear: both;
}
/****END OF TABLE STYLING****/

/****CONTACT FORM STYLING****/
/*POP FORM BUTTON*/
.popButton {
    position: fixed; /* The element is positioned relative to the viewport and stays in the same location no matter what */
    bottom: 1.75vw; /* Positions the button slightly up from the bottom of the viewport */
    right: 1.75vw;
    width: 25vw;
    color: #6318d6;
    border: 2px solid #00ff2a;
    -webkit-animation: movePopup 5s;
    animation: movePopup5s;
}

.popButton:hover {
    color: #00ff2a;
    font-weight: bold;
    border: 2px solid #6318d6;
}

/*MOVES POP BUTTON OFF THE RIGHT SIDE TO FIXED POSITION*/
@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

/*CONTACT FORM*/
.popForm {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

.form_container {
    max-width: 49vw;
    padding: 1vw;
    background-color: black;
    font-family: 'Courier New', courier, monospace;
    color: #6318d6;
}

.form_container input[type=text] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    background-color: black;
    border: 1px solid #00ff2a;
    color: white;
    font-size: 1.5vw;
}

/*HOVER EFFECTS FOR INPUT BOXES*/
input[type=text]:hover {
    box-shadow: 10px 5px 5px #6318d6;
}

/*SUBMIT BUTTON*/
button {
    background-color: black;
    color: #00ff2a;
    border: solid 1px #00ff2a;
    font-family: 'New Courier', courier, monospace;
    letter-spacing: .3vw;
    font-size: 2vw;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

.form_container .btn {
    margin-bottom: 1vh;
}

/*CLOSE BUTTON*/
.close {
    background-color: #00ff2a;
    color: black;
    border: none;
}

/*HOVER EFFECT FOR BUTTONS*/
.close:hover {
    background-color: black;
    border: 2px solid #00ff2a;
    color: #00ff2a;
}

button:hover {
    border: 2px solid #00ff2a;
    color: #6318d6;
}

/****END OF CONTACT FORM STYLING****/

/****MEDIA QUERY SECTION****/
/*MEDIA RULES FOR PARAGRAPH FONT SIZE*/
@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    } 
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

/*MEDIA RULE FOR NAVBAR LINKS*/
@media screen and (max-width: 1080px) {
    .Navbar a{
        width: 20%; /* This sets each navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

/*INCREASE THE SIZE OF COLUMNS FOR LARGER SCREENS*/
@media screen and (min-width: 1725px) {
    .column_1 {
        height: 800px;
    }
    .column_2 {
        height: 800px;
    }
    .column_tall {
        height: 750;
}

/*REMOVE MARGIN-TOP FROM H1 ELEMENTS FOR XTRA LARGE SCREENS*/
@media screen and (min-width: 2000px) {
    h1 {
        margin-top: 0;
    }
}
/**** END OF MEDIA QUERY ****/