/****GENERAL STYLING****/

/*AFFECTS ENTIRE DOCUMENT*/
html {
    scroll-behavior: smooth;
}

/*BODY*/
body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw;
    font-family: 'Courier New', courier, monospace;
    font-size: 1.5vw;
    overflow-x: hidden;
    user-select: none;
}

/*FADE EFFECT ONLOAD*/
body.fade-out {
    opacity: .1;
}

/*HEADING 1 ELEMENTS*/
h1 {
    font-family: 'Tektur', Impact;
    font-size: 5em;
    margin-left: 20%;
}  

/*HEADING 2 ELEMENTS*/
h2 {
    font-family: 'Tektur', Impact;
    font-size: 3em;
    margin-left: 20%;
}

/*HEADING 3 ELEMENTS*/
h3 {
    font-family: 'Courier New', courier, monospace;
    font-size: 2em;
    margin-left: 20%;
}

/*HEADING 4 ELEMENT*/
h4 {
    font-family: 'Tektur', Impact;
    font-size: 2em;
    color: white;
}

/*HEADING 1 2 AND 3 ELEMENT HOVER EFFECT*/
h1:hover, h2:hover, h3:hover {
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

/*PARAGRAPH ELEMENTS*/
p {
    color: white;
    font-family: 'Courier New', courier, monospace;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

/*CENTER CLASS*/
.center {
    text-align: center;
}

/*RIGHT CLASS*/
.right {
    text-align: right;
}

/*CENTER CLASS HOVER EFFECT*/
.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/*ANCHOR ELEMENTS*/
a {
    color: #9900ff;
}

/*IMAGE ELEMENTS*/
.image_main {
    display: block;
    width: 75%;
    height: auto;
    margin: auto;
}

/*IMAGE ELEMENT HOVER EFFECTS*/
.image_main:hover {
    filter: drop-shadow(5px 10px 5px #ff00cc);
    transition: transform 1s;
    transform: scale(1.1);
}

/*MAIN BODY VIDEO STYLING*/
.media_container {
    width: 39.5vw;
    height: auto;
    max-height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
 }
 
 .video_main {
     filter: grayscale(75%);
     vertical-align: middle;
     height: auto;
     width: 100%;
     border: solid 1px #ff00cc;
     cursor: pointer;
   }
 
  .overlay {
     border: solid 1px #00f7ff;
     background-color: black;
     color: white;
     font-size: 30px;
     font-style: 'Tektur', monospace;
     position: absolute;
     z-index: 2;
     margin: auto auto auto auto;
 }
 
 .video_main:hover {
     filter: grayscale(0%);
     box-shadow: 10px 5px 5px #00f7ff;
     z-index: 3;
     cursor: pointer;
 }
 
 /*END OF MAIN BODY VIDEO STYLING*/

/*ICON HOVER EFFECT*/
.icon:hover {
    filter: drop-shadow(3px 3px #ff00cc);
}

/*STYLING FOR FOOTER ELEMENT*/
footer {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 2%;
    font-size: 1.5vw;
}

/*FOOTER TEXT HOVER*/
.foot:hover {
    font-weight: bold;
    color: #00f7ff;
}

/****END OF GENERAL STYLING****/

/****NAVBAR STYLING****/
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5x;
    animation: moveNav 5s;
}

/*MOVENAV ANIMATION EFFECT*/
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

/*NAVBAR LINKS*/
.navbar a {
    float: left;
    display: block;
    color: #00f7ff;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: 'Courier New', courier, monospace;
    font-size: 2vw;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}

/*MOVE NAV TEXT ANIMATION EFFECT FOR MOVING THE NAVBAR TEXT FROM ABOVE THE VIEW TO THE NAVBAR*/
@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/*NAVBAR HOVER EFFECTS*/
.navbar a:hover {
    color: #ff00cc;
    font-weight: bold;
    cursor: pointer;
}

/*NAVBAR HOME BUTTON*/
.navbar a.active {
    background-color: black;
    border: 1px solid #00f7ff;
    color: #ff00cc;
}

/*NAVBAR HOME BUTTON HOVER EFFECT*/
.navbar a.active:hover {
    background-color: black;
    border: 1px solid #ff00cc;
    color: #00f7ff;
    font-weight: bold;
}

/****END OF NAVBAR STYLING****/

/****BACKGROUND VIDEO STYLING****/
/*FORMATTING FOR BACKGROUND VIDEO*/
#glitch_video {
    position: fixed; 
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

/*SCREENS THAT ARE 576PX AND SMALLER WILL NOT DISPLAY THE BACKGROUND VIDEO*/
@media screen and (max-width: 576px) {
    #glitch_video {
        display: none;
    }
}

/* TEXT OVER THE VIDEO ONLOAD*/
.Video_Text {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100vh;
    padding: 2vh;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/*THIS ANIMATION EFFECT CAUSES THE OVERLAY VIDEO TEXT TO MOVE UP FROM THE BOTTOM OF THE PAGE UPON PAGE LOAD*/
@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/****SLIDESHOW STYLING****/
#slideshow_background {
    background: black;
}

.mySlides {
    display: none; /*hides slides until function for slideshow is called*/
}

/*SLIDESHOW SECTION / CONTAINER*/
#slideshow_container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

/*Removes the previous and next buttons underline*/
#slideshow_container a {
    text-decoration: none;
}

/*SLIDESHOW VIDEOS*/
.video_show {
    filter: grayscale(75%);
    vertical-align: middle;
    height: auto;
    width: 100%;
    border: 2px solid #ff00cc;
}

.video_show:hover {
     filter: grayscale(0%);
     box-shadow: 10px 5px 5px #00f7ff;
     z-index: 3;
     cursor: pointer;
    }

/*NEXT AND PREVIOUS BUTTONS*/
.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: #00f7ff;
    font-weight: bold;
    font-size: 1.5vw;
    user-select: none;
    transition: 0.6s ease;
}

/*NEXT BUTTON POSITION TO RIGHT*/
.next {
    right: 0;
}

/*NEXT PREVIOUS HOVER EFFECTS*/
.previous:hover, .next:hover {
    color: #ff00cc
}

/*SLIDESHOW TEXT*/
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', courier, monospace;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0,0,0,0.75);
}

/*DOTS*/
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: #00f7ff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 1;
}

/*DOTS HOVER EFFECT*/
.active, .dot:hover {
    background-color: #ff00cc;
}

/*SLIDESHOW FADE ANIMATION*/
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}
/****END OF SLIDESHOW STYLING****/

/****TABLE STYLING****/
* {
    box-sizing: border-box;
}

.container {
    display: flex; /* Use flexbox to create a row layout */
    flex-wrap: wrap; /* Allow columns to wrap to a new row if necessary */
}

.column_1, .column_2 {
    width: 50%;
    padding: 0 2% 2% 2%;
    background-color: black;
}

/*SCREENS 576 AND SMALLER WILL DISPLAY A SCROLL BAR IF THE TEXT OVERFLOWS THE COLUMN HEIGHT*/
@media screen and (max-width: 576px) {
    .column_1 {
        overflow: auto;
    }
}


#about .column_1, #github .column_2 {
    background-color: #010325;
}
/*THIS INSERTS SOMETHING AFTER THE CONTENT OF SELECTED ELEMENTS (IN THIS CASE THE ELEMENTS WITH THE CLASS "ROW")*/
.container:after {
    content: "";
    display: table;
    clear: both;
}
/****END OF TABLE STYLING****/

/****CONTACT FORM STYLING****/

/*POP FORM BUTTON*/
.popButton {
    position: fixed; /* The element is positioned relative to the viewport and stays in the same location no matter what */
    bottom: 1.75vw; /* Positions the button slightly up from the bottom of the viewport */
    right: 1.75vw;
    width: 25vw;
    color: #ff00cc;
    border: 2px solid #00f7ff;
    -webkit-animation: movePopup 5s;
    animation: movePopup5s;
}

.popButton:hover {
    color: #00f7ff;
    border: 2px solid #ff00cc;
}

/*MOVES POP BUTTON OFF THE RIGHT SIDE TO FIXED POSITION*/
@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

/*CONTACT FORM*/
.popForm {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

.form_container {
    max-width: 49vw;
    padding: 1vw;
    background-color: black;
    font-family: 'Courier New', courier, monospace;
    color: #ff00cc;
}

.form_container input[type=text] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    background-color: black;
    border: 1px solid #00f7ff;
    color: white;
    font-size: 1.5vw;
}

/*HOVER EFFECTS FOR INPUT BOXES*/
input[type=text]:hover {
    box-shadow: 10px 5px 5px #ff00cc;
}

/*SUBMIT BUTTON*/
button {
    background-color: black;
    color: #00f7ff;
    border: solid 1px #00f7ff;
    font-family: 'New Courier', courier, monospace;
    letter-spacing: .3vw;
    font-size: 2vw;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

.form_container .btn {
    margin-bottom: 1vh;
}

/*CLOSE BUTTON*/
.close {
    background-color: #00f7ff;
    color: black;
    border: none;
}

/*HOVER EFFECT FOR BUTTONS*/
.close:hover {
    background-color: black;
    border: 2px solid #00f7ff;
    color: #00f7ff;
}

button:hover {
    border: 2px solid #00f7ff;
    color: #ff00cc;
}

/****END OF CONTACT FORM STYLING****/

/****MEDIA QUERY SECTION****/
/*MEDIA RULES FOR PARAGRAPH FONT SIZE*/
@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    } 
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

/*MEDIA RULE FOR NAVBAR LINKS*/
@media screen and (max-width: 1080px) {
    .Navbar a{
        width: 20%; /* This sets each navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

/*INCREASE THE SIZE OF COLUMNS FOR LARGER SCREENS*/
@media screen and (min-width: 1725px) {
    .column_1 {
        height: 800px;
    }
    .column_2 {
        height: 800px;
    }
    .column_tall {
        height: 750;
}

/*REMOVE MARGIN-TOP FROM H1 ELEMENTS FOR XTRA LARGE SCREENS*/
@media screen and (min-width: 2000px) {
    h1 {
        margin-top: 0;
    }
}
/**** END OF MEDIA QUERY ****/